<%- include('../partials/header'); -%>
<h1><%=campground.name%></</h1>

<p><img src="<%= campground.image%>"></p>

<h3><%= campground.description %></h3>
<% campground.comments.forEach(function(comment){ %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>
	</p>
<% }) %>
<%- include ('../partials/footer'); -%>
